.section.newslist-container {
  padding: 0 15px 64px;
}

.newslist.block {
  width: 90%;
  margin-left: 10px;
  padding-top: 25px;
}

.newslist .newslist-container .newslist-item {
  border: 1px solid #ccc;
  border-top: 4px solid #6c2cb9;
  padding: 15px;
  margin-bottom: 50px;
}

.newslist .newslist-container .newslist-item h4 {
  font-family: var(--graphik-semibold);
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-top: 0;
  margin-bottom: 13px;
  line-height: 1.2;
}

.newslist .newslist-container .newslist-item h4 a {
  font-family: var(--graphik-semibold);
  font-size: var(--body-font-size-s);
  font-weight: 600;
  color: #000;
  margin-bottom: 13px;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
}

.newslist .newslist-container .newslist-item .newslist-item-description {
  font-family: var(--header-font-family);
  font-size: var(--body-font-size-xxs);
  color: #000;
  padding: 0 0 20px;
  line-height: 1.6;
}

.newslist .newslist-container .newslist-item .newslist-item-description p {
  margin-bottom: 0;
}

.newslist .newslist-container .newslist-item .newslist-item-footer a {
  font-family: var(--graphik-semibold);
  text-transform: uppercase;
  font-size: var(--body-font-size-xs);
  font-weight: 600;
}

.newslist .newslist-container .newslist-item .newslist-item-footer a .read-more-arrow {
  display: inline-block;
  height: 20px;
  width: 40px;
  line-height: 20px;
  background: transparent url('/icons/arrow-icon.svg') no-repeat 0 -8px;
}

.newslist .newslist-container .newslist-item .newslist-item-footer .newslist-item-publisheddate {
  font-family: var(--graphik-semibold);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  color: #000;
  float: right;
  padding: 9px 0;
  text-transform: uppercase;
}

.newslist .newslist-pagination-container {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.newslist .newslist-pagination-container .pagination-link,
.newslist .newslist-pagination-container .pagination-ellipsis {
  display: none;
}

.newslist .newslist-pagination-container .pagination-next-arrow::before,
.newslist .newslist-pagination-container .pagination-prev-arrow::before {
  display: block;
  font-family: var(--icomoon);
  font-size: 40px;
  content: '\e900';
  color: #000;
  font-weight: 400;
}

.newslist .newslist-pagination-container .pagination-prev-arrow::before {
  transform: rotateY(180deg) !important;

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-transform: rotateY(180deg) !important;
}

.newslist .newslist-pagination-container a[aria-disabled='true'] .pagination-prev-arrow::before,
.newslist .newslist-pagination-container a[aria-disabled='true'] .pagination-next-arrow::before {
  color: #ccc;
}

.newslist .newslist-container.search-results-container {
  display: block;
}

#search-form {
  display: flex;
  width: 92%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 0;

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

#search-input {
  height: 46px;
  padding: 10px 16px;
  font-size: var(--body-font-size-s);
  line-height: 1.3333;
  border-radius: 6px;
  color: #555;
  background-color: var(--background-color);
  background-image: none;
  border: 1px solid #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  max-width: none;
}

#search-input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px #00000013, 0 0 8px #66AFE999;
}

#search-form input[type='submit'] {
  width: 13.4rem;
  padding: 15px 18px;
  border-radius: 0;
  background-color: #000;
  background-image: none;
  border-color: #000;
  font-weight: bold;
  font-size: .875rem;
  line-height: 1rem;
  font-family: var(--graphik-semibold);
  color: #fff;
  text-align: center;
  border: 0;
  white-space: nowrap;
  cursor: pointer;
}

.search-header-container h2 {
  font-family: var(--header-font-family-regular);
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 40px;
  margin-bottom: 50px;
}

.search-header-container .search-sub-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
  height: 55px;
}

.search-header-container .search-sub-header .search-sub-header-right {
  padding-right: 15px;
  padding-left: 15px;
}

.search-header-container .search-sub-header h3 {
  font-family: var(--header-font-family-regular);
  font-size: var(--body-font-size-s);
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  width: 30%;
}

.newslist .search-results-container .search-results-item {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 2px solid #ccc;
}

.newslist .search-results-container .search-results-item .search-results-item-published-date {
  font-family: var(--graphik-semibold);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  color: #000;
  padding-bottom: 9px;
  text-transform: uppercase;
}

.newslist .search-results-container .search-results-item .search-results-item-title {
  font-family: var(--graphik-semibold);
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 13px;
  line-height: 1.2;
}

.newslist .search-results-container .search-results-item .search-results-item-content {
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-family: var(--header-font-family);
  font-size: var(--body-font-size-xs);
  color: #000;
  line-height: 1.6;
}

#newslist-search-form {
  display: none;
}

#filter-form .newslist-filter-arrow {
  display: inline-block;
  cursor: pointer;
  transform: rotate(90deg);
  width: 18px;
  height: 18px;
  color: transparent;
  border: none;
  background: transparent url('/icons/calendar-arrow-icon.svg') -9px -11px no-repeat;
  margin-left: 10px;
  margin-top: 3px;
  transition: all .5s ease;
}

#filter-form .newslist-filter-arrow.active {
  transform: rotate(-90deg);
}

#filter-form input[type='submit'] {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: transparent;
  border: none;
  background: url('/icons/calendar-icon.svg') no-repeat center;
  margin-left: -44px;
  margin-top: 4px;
  display: none;
  position: absolute;
}

#newslist-filter-input {
  display: none;
  font-family: var(--graphik-semibold);
  font-style: normal;
  font-size: var(--body-font-size-s);
  font-weight: 600;
  line-height: 37px;
  width: 190px;
  padding-left: 10px;
  padding-right: 50px;
  border: 1px solid #979797;
  margin-left: 10px;
  height: 50px;
  color: #000;
  text-transform: uppercase;
}

.newslist .newslist-container .newslist-header-container label {
  font-family: var(--graphik-semibold);
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  color: #000;
}


@media (min-width: 768px) {
  .newslist.block {
    width: 100%;
  }

  .newslist .newslist-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    column-gap: 30px; /* Add some gap between columns */
    margin: 0 auto; /* Center the grid container horizontally */
  }

  .newslist .newslist-container .newslist-header-container {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.5px solid #ccc;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .newslist .newslist-container .newslist-header-container form {
    display: flex;
    align-items: center;
  }

  body.category .newslist .newslist-container .newslist-header-container {
    display: flex;
  }

  #newslist-search-form input[type='submit'] {
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: transparent;
    border: none;
    background: url('/icons/search-color-icon.svg') no-repeat -2px 8px;
    margin-left: -50px;
  }

  #newslist-search-input {
    width: 410px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 0;
    border: 1px solid #979797;
    font-style: normal;
    padding-left: 10px;
    padding-right: 50px;
    color: #000;
    font-size: var(--body-font-size-s);
    font-family: var(--graphik-semibold);
  }

  #newslist-search-input::after {
    display: block;
    font-family: var(--icomoon);
    font-size: 40px;
    content: '\e900';
    color: #000;
    font-weight: 400;
  }

  .newslist .search-results-container .search-results-item {
    width: 66.66%;
  }

  .search-header-container .search-sub-header {
    width: 66.66%;
    height: auto;
  }

  #filter-form {
    width: 100%;
  }

  #filter-form label {
    width: 120px;
  }

  #filter-form input[type='submit'] {
    display: inline;
    position: relative;
    top: 5px;
  }

  #newslist-filter-input {
    display: inline;
    width: 265px;
    margin-bottom: 0;
  }

  #filter-form .newslist-filter-arrow {
    display: none;
  }

  .newslist .newslist-container .newslist-item {
    position: relative;
  }

  .newslist .newslist-container .newslist-item .newslist-item-footer {
    display: flex;
    width: 94%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
  }

  .newslist .newslist-pagination-container {
    gap: 2em;
  }

  .newslist .newslist-pagination-container .pagination-link,
  .newslist .newslist-pagination-container .pagination-ellipsis {
      display: inline-block;
  }

  .newslist .newslist-pagination-container .pagination-ellipsis {
    cursor: default;
  }

  .newslist .newslist-pagination-container a {
    font-family: var(--graphik-semibold);
    font-size: var(--body-font-size-s);
    font-weight: 600;
    color: #000;
    text-decoration: none;
  }

  .newslist .newslist-pagination-container a.current-page {
    color: var(--link-color);
  }

  .newslist .newslist-container .newslist-item .newslist-item-description {
    margin-bottom: 20px;
  }

  .newslist .newslist-container .newslist-item .newslist-item-description p {
    margin-bottom: 1em;
  }
}

@media (min-width: 1000px) {
  #newslist-search-form {
    display: flex;
    width: 50%;
  }

  #newslist-filter-year {
    width: 370px;
  }

  .newslist .newslist-container .newslist-item h4 a {
    font-size: 20px;
  }
  
  .newslist .newslist-container .newslist-item .newslist-item-description {
    font-size: var(--body-font-size-xs);
  }
}

.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper {
  height: auto;
  padding-bottom: 50px;
}

.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table tr {
  padding: 0;
}

.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table .day.real-today {
  background-color: --link-color;
}

.date-picker-wrapper-custom.date-picker-wrapper.no-topbar {
  padding: 0 !important;
  margin-left: 0 !important;
  max-width: 290px;
}

.date-picker-wrapper-custom.date-picker-wrapper {
  position: absolute;
  z-index: 1;
  border: none;
  background-color: transparent;
  padding: 5px 12px;
  font-size: 15px;
  line-height: 20px;
  color: #aaa;
  box-shadow: none !important;
  box-sizing: initial;
  font-family: var(--graphik-semibold);
}

.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table .day {
  font-size: 15px;
  border-radius: 4px;
}

.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table .week-name {
  text-transform: none;
  color: #6b6b6b;
  font-size: 12px;
}
/* stylelint-disable-next-line selector-class-pattern */
.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table .day.toMonth.valid,.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table .day.valid,.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table div.day.lastMonth,.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table div.day.nextMonth {
  color: #333;
  cursor: pointer;
  height: 17px;
  width: 37px;
  margin: 1px;
  padding-top: 10px;
}

.date-picker-wrapper .first-date-selected,
.date-picker-wrapper .last-date-selected {
  background-color: var(--link-color) !important;
}

.date-picker-wrapper .month-wrapper table .day.checked {
  background-color: #F7F7F7 !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.date-picker-wrapper .month-wrapper table .day.toMonth.hovering {
  background-color: #F7F7F7 !important;
}

.date-picker-wrapper .month-wrapper table .day.hovering {
  background-color: #F7F7F7 !important;
}

.date-picker-wrapper .month-wrapper table .day.checked.first-date-selected,
.date-picker-wrapper .month-wrapper table .day.checked.last-date-selected {
  background-color: var(--link-color) !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table .day.nextMonth,.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table .day.lastMonth {
  display: block;
}

/* stylelint-disable-next-line selector-class-pattern */
.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table .day.toMonth.valid {
  background-color: transparent;
}

.date-picker-wrapper-custom.date-picker-wrapper .month-wrapper table div.day {
  height: 33px;
  width: 39px;
  margin: 1px;
  padding-top: 10px;
}

.date-picker-wrapper-custom.date-picker-wrapper .caption th div,
.date-picker-wrapper-custom.date-picker-wrapper .caption th span {
  width: 100%;
  height: 34px;
  line-height: 34px;
  background-color: #F7F7F7;
  margin-left: 5px;
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  color: #404040;
  font-family: var(--graphik-semibold);
}

.date-picker-wrapper-custom.date-picker-wrapper .caption th.year-name div {
  padding-left: 25px;
}

.date-picker-wrapper-custom.date-picker-wrapper table .caption .next,
.date-picker-wrapper-custom.date-picker-wrapper table .caption .prev,
body .dd-arrow {
  width: 20%;
  padding: 0;
  margin: 0;
  background: #F7F7F7 url('/icons/calendar-arrow-icon.svg') -12px -8px no-repeat;
  height: 28px;
  margin-top: 3px;
}

.date-picker-wrapper-custom.date-picker-wrapper table .caption .prev {
  transform: rotateY(180deg);
  margin-right: 0;
}

.date-picker-wrapper-custom.date-picker-wrapper table .caption .next {
  margin-right: 8px;
}

.date-picker-wrapper-custom.date-picker-wrapper table .caption .next:hover,
.date-picker-wrapper-custom.date-picker-wrapper table .caption .prev:hover {
  background-color: #f7f7f7;
}

.date-picker-wrapper-custom.date-picker-wrapper .caption th div select {
  width: 100%;
  background-color: transparent;
  z-index: 2;
  font-size: var(--body-font-size-xxs);
  text-transform: capitalize;
  padding: 6px 9px;
  height: 35px;
  font-family: var(--graphik-semibold);
}

.date-picker-wrapper-custom.date-picker-wrapper .caption th div select.year {
  margin-left: 15px;
}

.date-picker-wrapper-custom.date-picker-wrapper .caption th div option {
  padding: 10px;
}

.date-picker-wrapper-custom.date-picker-wrapper span.arrows,
.date-picker-wrapper-custom.date-picker-wrapper .caption th div span.arrows
{
  width: 30px;
  height: 34px;
  background: transparent url('/icons/calendar-dropdown-arrow-icon.svg');
  display: inline-block;
  position: absolute;
  right: 0;
  top: -5px;
}

.date-picker-wrapper-custom.date-picker-wrapper .caption th.year-name div span.arrows {
  right: -1px;
}

/* stylelint-disable-next-line selector-class-pattern */
.date-picker-wrapper-custom.date-picker-wrapper .caption th.prevNext div {
  text-align: right;
  width: 94%;
  margin-left: -5px;
}

.date-picker-wrapper-custom.date-picker-wrapper table .caption>th:first-of-type,
.date-picker-wrapper-custom.date-picker-wrapper table .caption>th:last-of-type {
  width: auto;
}

/* stylelint-disable-next-line selector-class-pattern */
.date-picker-wrapper .month-wrapper table td.wkend .day.toMonth.valid, .date-picker-wrapper .month-wrapper table td.wkend div.day.nextMonth,.date-picker-wrapper .month-wrapper table td.wkend div.day.lastMonth {
  color: #999 !important;
}

#clear-date-range {
  margin-top: 0;
  float: right;
  background-color: #000;
  border: none;
  line-height: 35px;
  padding: 3px 10px;
  color: #fff;
  font-size: var(--body-font-size-xxs);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}