/* @font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto-bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto-regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  } */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFW50bbck.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Graphik Regular';
    src: url('../fonts/Graphik-Regular-Web.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Black';
    src: url('../fonts/Graphik-Black-Web.woff2') format("woff2");
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Bold';
    src: url("../fonts/Graphik-Bold-Web.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Semibold';
    src: url("../fonts/Graphik-Bold-Web.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ionicons;
  src: url("../fonts/ionicons.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}