/* CSS for Aside block */
.aside .share {
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 302px;
}

.aside .share h4 {
  margin: unset;
}

.aside .social {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.aside .social span {
  height: 40px;
  width: 40px;
}